body {
    margin: 0;
}

body header {
    font-family: "Playfair Display", serif;
    margin: 0;
}

body nav, main, footer{
    font-family: "Open Sans", sans-serif;
    margin: 0;
}

/*header stuff here*/
header {
    background-color: #f86074;
    padding: 1rem 30px;
}

header span {
    color: #fff8f2;
    font-size: 3rem;
    font-weight: 900;
}

/*Navigation stuff here*/
nav {
    background-color: #ffcd8c;
}

nav ul {
    width: 20%;
    margin: 0;
    padding: 10px 10px;
    list-style-type: none;
    display: flex;
    flex-direction: column;
}

nav a {
    display: block;
    padding: .83rem 1rem;
    text-decoration: none;
    font-size: 1.5rem;
    color: #567035;
    font-weight: 700;
    align-content: center;
    text-align: center;
    height: 48px;

}

nav li.active a {
    background-color: #567035;
    color: #fff8f2;
    border-radius: 10px;
    border: 2px solid #567035;
}

nav li a:hover {
    color: #fff8f2;
}

/*main stuff here*/
main {
    padding: 1rem 30px;
    background-color: #fff8f2;
}

main h1 {
    color: #354521;
}

main h2 {
    color: #567035;
    margin-bottom: .2rem;
}

main p {
    margin: 0;
    color: #333;
}

main ol {
    padding: .5rem 30px;
    background-color: #fff8f2;
}

main dl dt {
    color: #6b8b41;
    font-weight: 700;
    margin-top: 1rem;
}

main dl dd {
    color: #333;
    font-size: .9rem;
    margin-left: 20px;
}

main ul {
    list-style-type: circle;
}

main ul li {
    line-height: 125%;
    margin-bottom: .5rem;
    font-size: .9rem;
}

main strong {
    font-weight: 700;
    color: #000;
}

main em {
    font-weight: 300;
}

main address {
    font-style: normal;
    background-color: #fff1e6;
    padding: .5rem;
    border-radius: 5px;
    border: 3px solid #f86074;
    width: 200px;
    color: #333
}

main a {
    color: #567035;
    text-decoration: none;
}

main a:hover {
    color: #354521;
    text-decoration: underline;
}

/*footer stuff here*/
footer {
    background-color: #f86074;
    text-align: center;
    padding: 1rem 0;
}

footer p {
    margin: 0;
    font-size: .8rem;
    color: #fff8f2;
    letter-spacing: 3px;
}