* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #ffcd8c;
}

body .container {
    max-width: 64rem;
    margin: 0 auto;
    box-shadow: -10px 10px 10px 0px rgba(0,0,0,0.2),
                 10px 10px 10px 0px rgba(0,0,0,0.2);
}

body header {
    font-family: "Playfair Display", serif;
    margin: 0;
    display: flex;
    align-items: center;
}

body nav, body main, body footer{
    font-family: "Open Sans", sans-serif;
    margin: 0;
}

/*header stuff here*/
header {
    background-color: #f86074;
    padding: 1rem 2vw;
}

header span {
    color: #fff8f2;
    font-size: 3rem;
    font-weight: 900;
}

/* small screen navigation */
@media only screen and (max-width: 800px){
    body .container {
        box-shadow: none;
    }
    
    nav ul {
        margin: 0;
        padding: 0;
    }
    nav a {
        display: block;
        text-align: center;
        padding: 1.5rem;
        color: #6c7e56;
        text-decoration: none;
        border-bottom: solid 1px #fff8f2;
        font-weight: 700;

    }

    nav .active a {
        background-color: #567035;
        color: #fff8f2;
        font-weight: 1300;
    }

} /* end small screen navigation */

/* LARGE SCREEN NAVIGATION */
@media only screen and (min-width: 801px){

    nav {
        background-color: #ffcd8c;
    }

    nav ul {
        margin: 0;
        padding: 10px 10px;
        list-style-type: none;
        display: flex;
        flex-wrap: wrap;
    }

    nav a {
        display: block;
        padding: .83rem 1rem;
        text-decoration: none;
        font-size: 1.5rem;
        color: #567035;
        font-weight: 700;
        align-content: center;
        text-align: center;
        height: 5rem;
        min-width: 12rem;
    }

    nav .active a {
        background-color: #567035;
        color: #fff8f2;
        border-radius: 10px;
        border: 2px solid #567035;
    }

    nav li a:hover {
        color: #fff8f2;
    }
} /* end LARGE screen navigation */




/*main stuff here*/
main {
    padding: 1rem 30px;
    background-color: #fff8f2;
}

main h1 {
    color: #354521;
}

main h2 {
    color: #567035;
    margin-bottom: .2rem;
}

main p {
    margin: 0;
    color: #333;
}

main ol {
    padding: .5rem 30px;
    background-color: #fff8f2;
}

main dl dt {
    color: #6b8b41;
    font-weight: 700;
    margin-top: 1rem;
}

main dl dd {
    color: #333;
    font-size: .9rem;
    margin-left: 20px;
}

main ul {
    list-style-type: circle;
}

main ul li {
    line-height: 125%;
    margin-bottom: .5rem;
    font-size: .9rem;
}

main strong {
    font-weight: 700;
    color: #000;
}

main em {
    font-weight: 300;
}

main address {
    font-style: normal;
    background-color: #fff1e6;
    padding: .5rem;
    border-radius: 5px;
    border: 3px solid #f86074;
    width: 200px;
    color: #333
}

main a {
    color: #567035;
    text-decoration: none;
}

main a:hover {
    color: #354521;
    text-decoration: underline;
}

/* main image stuff here */
figure .wrapped {
    width: 30%;
    float: right;
}

figure .wrapped img {
    width: 100%;
    height: auto;
}

figure .wrapped figcaption {
    text-align: center;
    font-size: .8rem;
}

/* gallery stuff here */
div .gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 30px 10px;
}

div .gallery figure {
    margin: 0;
}

div .gallery figcaption {
    text-align: center;
    font-size: .8rem;
    color: #567035;
}

.gallery img:hover {
    box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
}

/* form stuff here */
.newsletter fieldset{
    border: 1px solid #f86074;
    border-radius: 5px;
    margin-bottom: 1rem;
}

.newsletter legend {
    color: #f86074;
}

.newsletter label {
    margin: 1rem;
}

.newsletter label, .newsletter select, .newsletter textarea, .newsletter [type=text], .newsletter [type=tel], .newsletter [type=email]{
    display: block;
}

.newsletter select, .newsletter textarea, .newsletter [type=text], .newsletter [type=tel], .newsletter [type=email] {
    border: 1px solid #567035;
    padding: .5rem;
    width: 20%;
    font-family:"Open Sans", sans-serif;
    font-weight: 400;
    background-color: #fff8f2;
}

.newsletter textarea {
    height: 100px;
}

.newsletter :required {
    background-color: #fff1e6;
}

.newsletter [type=submit] {
    background-color: #f86074;
    color: #fff8f2;
    border: none;
    border-radius: 5px;
    padding: 1rem 6rem;
    margin: 1rem 0 0 1vw;
    font-size: 1.5rem;
}

/*footer stuff here*/
footer {
    background-color: #f86074;
    text-align: center;
    padding: 1rem 0;
    clear: both;
}

footer p {
    margin: 0;
    font-size: .8rem;
    color: #fff8f2;
    letter-spacing: 3px;
}

.hero {
    width: 100%;
    height: auto;
}